<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hello Vue!</title>
    </head>
    <body>
        <div id="app"></div>
        @RenderBody()
        <script src="./build.js"></script>
    </body>
</html>
